{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="">
          LOGO
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-link px-3 me-2 text-theme">
            <a href="{% url 'logout' %}">Log Out</a>
        </button>
       
        {% else %}
        <button type="button" class="btn btn-link px-3 me-2 text-theme">
            <a href="{% url 'login' %}">Log In</a>
        </button>
        <button type="button" class="btn btn-link px-3 me-2 text-theme">
          <a href="{% url 'signup' %}">Sign up for free</a>
        </button>
        {% endif %}


      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
 <br>
{% if user.is_authenticated %}
<div class="card text-center">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Welcome on board {{ user.get_full_name }}! </p>
      <footer class="blockquote-footer">You are successfully logged in</footer>
    </blockquote>
  </div>
</div>
{% else %}
<div class="card text-center">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>You are not logged in</p>

    </blockquote>
  </div>
</div>
{% endif %}
{% endblock %}